<!DOCTYPE html>
<html ng-app="sortjs">
<head>
    <title>Sort.js</title>
    <link href="vendor/Bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="vendor/jQuery/jquery-1.10.2.min.js"></script>
    <script src="vendor/jQuery/notifier.js"></script>
    <script src="vendor/AngularJS/angular.min.js"></script>
    <script src="vendor/Bootstrap/bootstrap.min.js"></script>
    <script src="vendor/KinectJS/kinetic-v4.6.0.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers.js"></script>
    <script src="app/directives.js"></script>
    <script src="app/services.js"></script>
</head>
<body ng-controller="baseCtrl">
    <div class="row"
         style="position: relative">
        <div class="col-md-4 col-lg-4 well"
             style="z-index: 2; position: absolute"
             ng-hide="panel_visibility">
            <form>
                <div class="form-group">
                    <h4>Select your sorting algorithm</h4>
                    <select class="form-control" ng-model="selected_sorter" ng-options="v for v in algos" required="">
                    </select>
                </div>
                <div class="form-group">
                    <h4>Input your unsorted array separated by ',' with max length of 100,
                        elements beyond 100th will be ignored</h4>
                    <textarea class="form-control"
                              ng-model="input_array"></textarea>
                    <div class="row">
                        <button type="button"
                                class="btn col-lg-4 col-md-4"
                                ng-click="randomGenerate()">Random</button>
                        <div class="col-lg-8 col-md-8">
                            <input type="text" class="form-control" placeholder="Random Length" ng-model="random_len"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg"
                            ng-click="run()">Run</button>
                </div>
            </form>
        </div>
        <div class="col-md-3 col-lg-3"
             style="z-index: 1; position: absolute"
             ng-hide="!panel_visibility">
            <button class="btn btn-info btn-xs"
                    ng-click="rerun()">Rerun</button>
            <button class="btn btn-info btn-xs"
                    ng-click="togglePlay()">{{ togglePlayAction }}</button>
        </div>
        <div class="col-md-12 col-lg-12"
             style="z-index: 0"
             visual_panel></div>
    </div>
</body>
</html>